extends layout.pug 


block content 
    header.text-center.text-white.bg-primary.masthead
        .container1
            h2.title(style="margin-top: 45px; color: white") Some title 
            h4.desc(style="color: black") random description