extends layout.pug 


block content 
    header.text-center.text-white.bg-primary.masthead
        .container1
            h2.titl(style="margin-top: 45px; color: white") #{task.title}
            h4.description(style="color: black") #{task.description}
