extends layout.pug 

block content 
    header.text-center.text-white.bg-primary.masthead
        img.img-fluid.d-block.mx-auto.mb-5(src='assets/img/todo.png' width='50%' height='30%')
        .container
            h1 Task Management
            h2.font-weight-light.mb-0 You Can Create, Delete, and Mark Completed Tasks