extends layout.pug 

block content 
    header.text-center.text-white.bg-primary.masthead
        .container
            h1 Task Management
            h2.font-weight-light.mb-0 You Can Create, Delete, and Read the Tasks